---
- name: This is the top-level playbook for backend servers
  hosts: backend_servers
  remote_user: root

- include: mongo-playbook.yml
- include: node-playbook.yml

- hosts: backend_servers
  tasks:
    - include: ../tasks/setup-backend-directory.yml
      static: yes
    - include: ../tasks/install-sedir-service.yml
      static: yes
    - name: Ensure sedir service is started
      service: name=sedir state=started enabled=yes

- include: ufw-playbook.yml
